parameters:
    paths:
        - src
        - tests
    excludePaths:
        - tests/Secrets/PhpUnitCompatibilityLayer.php
        - tests/bootstrap.php
        - vendor/*
        - tools/*
        - tmp/*
    parallel:
        maximumNumberOfProcesses: 8
        processTimeout: 10.0
